#miCanvas { border: solid 1px #ccc; margin: 20px;    background-image: url('pacman-4121590_1280.webp' );
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
}